body {
    margin: 3px;
}

.navbar {
    margin: 0em;
}

.navbar-brand {
    float: left;
}

.my-row {
    padding-top: 20px;
    margin-left: 25px;
    text-align: left;
}

.main-container {
    margin-top: 45px;
}

/*KeyFrames*/

 @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
    /*animation*/
  }
    .main-container, .contact-info, #contact-me, #message, .portfolio, .portfolio-links {
      animation-duration: 0.9s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
    }

    .main-container {
      animation-name: fadeIn;
    }

    .main-container, .contact-info, #contact-me, #message, .portfolio, .portfolio-links  {
      animation-name: fadeInUp;
    }



#bio-story {
    font-size: 18px;
    font-family: "Lato";
    text-align: left;
    padding-top: 25px;
    text-align: center;
}

#wed-day {
    border-style: solid;
    border-width: 10px;
    text-align: left;
}

#navbarNavAltMarkup {
    font-family: "Lato";
    font-size: 20px;
}

#navlink:hover {
    color: #4848eb;
}

#navBar {
    background-color: white;
}

#bio {
    font-size: 25px;
    font-family: "Lato";
    text-align: left;
    padding-top: 25px;
    text-align: center;
}

#row-bottom {
    padding-bottom: 85px;
}

.copyright {
    font-size: 16px;
    font-family: "Great Vibes";
    text-align: left;
    padding-top: 5%;
}

#footer {
    font-size: 14px;
}

/*-------Contacts Page CSS-------*/

p {
    font-family: "Lato";
    font-size: 16px;
}

label {
    font-family: "Lato";
}

.contact-info {
    margin-right: 370px;
    margin-top: 135px;
    text-align: center;
}


.social-buttons a{
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
    padding-top: 8%;
    margin-top: -10%;
  }

  .social-buttons a::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
  }

  .social-buttons a:hover::before{
    transform: scale(0);
  }

  .social-buttons a i{
    transition: 0.3s ease-in;
  }

  .social-buttons a:hover i{
    background: linear-gradient(45deg,#22a6b3,rgb(0, 102, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
  }

  .social-media-group {
      text-align: right;
      top: 10px;
  }

  
#contact-me {
    font-family: "Lato";
}

#message {
    font-family: "Lato";
    font-size: 22px;
}

#homeAddress:hover,
#contactPhone:hover,
#email:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#homeAddress,
#contactPhone,
#email {
  transition: transform 0.5s ease;
}

  /*-------Portfolio Page CSS-------*/

  h1 {
      font-family: "Lato";
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  

  .portfolio {
      border-radius: 5%;
  }

  .portfolio-links {
    margin-right: 370px;
    margin-top: 125px;
    margin-bottom: 275px;
    text-align: center;
}

  #portfolio-links {
      margin-top: 8%;
      margin-bottom: -13%
  }